try-import %workspace%/.bazelrc.local

# To build with Scala 2.12, pass "--config scala_2.12" to "bazel build"
# To set a different default Scala version, add the following to
# user.bazelrc:
# common --config scala_2.12
common:scala_2.12 --repo_env=SCALA_VERSION=2.12.18
common:scala_2.13 --repo_env=SCALA_VERSION=2.13.12

# Default scala version to 2.13
common --repo_env=SCALA_VERSION=2.13.12

s
build --remote_cache=https://storage.googleapis.com/zipline-bazel-cache
test --test_output=errors
test --test_timeout=900