try-import %workspace%/.bazelrc.local

# To build with Scala 2.12, pass "--config scala_2.12" to "bazel build"
common:scala_2.12 --repo_env=SCALA_VERSION=2.12.18
common:scala_2.12 --define=SCALA_VERSION=2.12.18
common:scala_2.13 --repo_env=SCALA_VERSION=2.13.12
common:scala_2.13 --define=SCALA_VERSION=2.13.12

# Default scala version to 2.12
# To set a different default Scala version, add the following to .bazelrc.local:
# common --config scala_2.12
common --repo_env=SCALA_VERSION=2.12.18
common --define=SCALA_VERSION=2.12.18

# common --repo_env=SCALA_VERSION=2.13.12
# common --define=SCALA_VERSION=2.13.12

build --java_language_version=11
build --java_runtime_version=11
build --remote_cache=https://storage.googleapis.com/zipline-bazel-cache
test --test_output=errors
test --test_timeout=1200

# Enable platform-specific configuration
build --enable_platform_specific_config

# macOS-specific flags
build:macos --copt=-Wno-macro-redefined
build:macos --copt=-Wno-deprecated-non-prototype
build:macos --host_copt=-Wno-macro-redefined
build:macos --host_copt=-Wno-deprecated-non-prototype

# CI-specific flags
build:linux --copt=-Wno-deprecated-function
