**/target/
**/target-*/
**/target-embedded/
**/target-31/
**/.bsp/
*.class
*.jar
*.war
*.ear
*.logs
*.iml
*.db
.idea/
**/local_warehouse/
.eclipse
**/.vscode/
**/__pycache__/
**/.DS_Store
api/py/ai/chronon/api/
api/py/ai/chronon/observability/
api/py/test/sample/production/group_bys/quickstart/
api/py/test/sample/production/joins/quickstart/
api/py/.coverage
api/py/htmlcov/
**/derby.log
cs

# Documentation builds
docs/build/

# Python distribution and packaging
api/py/dist/
api/py/eggs/
api/py/sdist/
api/py/build/
api/py/ai/chronon/thrift/
api/py/*.egg-info/
*.egg

# spark test scratch area
**/spark-warehouse/
**/metastore_db/
mvn_settings.xml
/.run/spark Clean.run.xml

# Release folder
releases

# Frontend build assets
/hub/public

# Frontend node_modules
/frontend/node_modules

# Frontend Output
/frontend/.output
/frontend/.vercel
/frontend/.svelte-kit
/frontend/build

# Frontend OS
/frontend/Thumbs.db

# Frontend Env
/frontend/.env
/frontend/.env.*
!/frontend/.env.example
!/frontend/.env.test

# Frontend Vite
/frontend/vite.config.js.timestamp-*
/frontend/vite.config.ts.timestamp-*

# Frontend Test Results
/frontend/test-results

# Frontend Thrift generated types
/frontend/src/lib/types/codegen

# Generated during dynamodb kv store tests
/cloud_aws/dynamodb-local-metadata.json

# Elastic Search files
/docker-init/elasticsearch-data

# Metals and Bloop
.metals/
.bloop/
.worksheet/
.project/

# Metals-generated sbt files
/project/**/metals.sbt
/project/**/metals.sbt.lock

# Bazel temporary output
/bazel-*