@import 'tailwindcss';

@source '../node_modules/svelte-ux/dist';
@source '../node_modules/layerchart/dist';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/* shadcn-svelte colors */
	--color-background: var(--color-neutral-100);
	--color-foreground: hsl(0 0% 3.9%);

	--color-muted: hsl(0 0% 96.1%);
	--color-muted-foreground: var(--color-neutral-800);
	--color-muted-icon-neutral: var(--color-neutral-700);
	--color-muted-icon-primary: var(--color-primary-700);

	--color-popover: hsl(0 0% 100%);
	--color-popover-foreground: hsl(0 0% 3.9%);

	--color-card: hsl(0 0% 100%);
	--color-card-foreground: hsl(0 0% 3.9%);

	--color-border: var(--color-neutral-300);
	--color-input: hsl(0 0% 89.8%);

	/* Defined below */
	/* --color-primary: var(--color-primary-300);
	--color-primary-foreground: var(--color-primary-800); */

	--color-secondary: hsl(0 0% 96.1%);
	--color-secondary-foreground: hsl(0 0% 9%);

	--color-accent: hsl(0 0% 96.1%);
	--color-accent-foreground: hsl(0 0% 9%);

	--color-destructive: hsl(0 72.2% 50.6%);
	--color-destructive-foreground: hsl(0 0% 98%);

	--color-ring: hsl(0 0% 3.9%);

	--color-radius: 0.5rem;

	--color-neutral-50: hsl(0 0% 98%);
	--color-neutral-100: hsl(0 0% 95%);
	--color-neutral-200: hsl(0 0% 93%);
	--color-neutral-300: hsl(0 0% 90%);
	--color-neutral-400: hsl(0 0% 87%);
	--color-neutral-500: hsl(0 0% 79%);
	--color-neutral-600: hsl(0 0% 71%);
	--color-neutral-700: hsl(0 0% 63%);
	--color-neutral-800: hsl(0 0% 39%);
	--color-neutral-900: hsl(0 0% 23%);
	--color-neutral-950: hsl(0 0% 5%);
	--color-neutral: var(--color-neutral-300);
	--color-neutral-foreground: var(--color-neutral-800);

	--color-primary-50: hsl(351 100% 97%);
	--color-primary-100: hsl(354 100% 93%);
	--color-primary-200: hsl(349 100% 88%);
	--color-primary-300: hsl(345 95% 84%);
	--color-primary-400: hsl(345 90% 79%);
	--color-primary-500: hsl(346 85% 73%);
	--color-primary-600: hsl(347 80% 55%);
	--color-primary-700: hsl(347 75% 44%);
	--color-primary-800: hsl(345 70% 37%);
	--color-primary-900: hsl(348 65% 30%);
	--color-primary-950: hsl(352 60% 17%);
	--color-primary: var(--color-primary-300);
	--color-primary-foreground: var(--color-primary-800);

	--color-warning-50: hsl(41 66% 10%);
	--color-warning-100: hsl(40 29% 8%);
	--color-warning-200: hsl(41 66% 10%);
	--color-warning-300: hsl(41 100% 12%);
	--color-warning-400: hsl(42 100% 14%);
	--color-warning-500: hsl(43 81% 19%);
	--color-warning-600: hsl(42 58% 26%);
	--color-warning-700: hsl(42 56% 34%);
	--color-warning-800: hsl(44 100% 55%);
	--color-warning-900: hsl(45 100% 60%);
	--color-warning-950: hsl(40 100% 86%);
	--color-warning: var(--color-warning-300);
	--color-warning-foreground: var(--color-warning-800);

	--color-success-50: hsl(151 63% 92%);
	--color-success-100: hsl(152 60% 85%);
	--color-success-200: hsl(153 65% 75%);
	--color-success-300: hsl(155 70% 65%);
	--color-success-400: hsl(157 80% 50%);
	--color-success-500: hsl(159 98% 23%);
	--color-success-600: hsl(159 90% 20%);
	--color-success-700: hsl(159 80% 17%);
	--color-success-800: hsl(159 70% 14%);
	--color-success-900: hsl(159 60% 12%);
	--color-success-950: hsl(159 46% 11%);
	--color-success: var(--color-success-300);
	--color-success-foreground: var(--color-success-800);

	/* LayerChart colors */
	--color-surface-content: var(--color-card-foreground);
	--color-surface-100: var(--color-background);
	--color-surface-200: var(--color-muted);
	/* Not sure what color maps here (should be darker than 200) */
	--color-surface-300: var(--color-background);

	/* Scrollbar colors */
	--color-scroll-thumb: hsla(0, 0%, 87%, 1);
	--color-scroll-track: transparent;

	/* Fonts */
	--font-sans: 'Geist Mono (Numbers-only)', 'Geist', 'Inter', sans-serif;
	--font-mono: 'Geist Mono', 'Inter', monospace;

	/* Animations */
	--animate-dashoffset-0.5x: animated-dash 2s linear infinite;
	--animate-dashoffset-1x: animated-dash 1s linear infinite;
	--animate-dashoffset-2x: animated-dash 0.5s linear infinite;
	--animate-dashoffset-3x: animated-dash 0.25s linear infinite;
	--animate-dashoffset-4x: animated-dash 0.125s linear infinite;
	--animate-dashoffset-5x: animated-dash 0.0625s linear infinite;

	@keyframes animated-dash {
		100% {
			stroke-dashoffset: 0;
		}
	}
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@utility content-auto {
	content-visibility: auto;
}

@utility grid-stack {
	& > * {
		grid-area: 1 / 1;
	}
}

@utility scrollbar-none {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

@layer base {
	.dark {
		--color-background: var(--color-neutral-50);
		--color-foreground: hsl(0 0% 100%);

		--color-muted: hsl(0 0% 14.9%);
		--color-muted-foreground: var(--color-neutral-800);
		--color-muted-icon-neutral: var(--color-neutral-700);
		--color-muted-icon-primary: var(--color-primary-700);

		--color-popover: hsl(0 0% 3.9%);
		--color-popover-foreground: hsl(0 0% 98%);

		--color-card: hsl(0 0% 3.9%);
		--color-card-foreground: hsl(0 0% 98%);

		--color-border: var(--color-neutral-300);
		--color-input: hsl(0 0% 14.9%);

		--color-neutral-50: hsl(0 0% 5%);
		--color-neutral-100: hsl(0 0% 8%);
		--color-neutral-200: hsl(0 0% 10%);
		--color-neutral-300: hsl(0 0% 13%);
		--color-neutral-400: hsl(0 0% 16%);
		--color-neutral-500: hsl(0 0% 24%);
		--color-neutral-600: hsl(0 0% 32%);
		--color-neutral-700: hsl(0 0% 40%);
		--color-neutral-800: hsl(0 0% 64%);
		--color-neutral-900: hsl(0 0% 80%);
		--color-neutral-950: hsl(0 0% 98%);

		--color-primary-50: hsl(351 24% 6%);
		--color-primary-100: hsl(354 20% 10%);
		--color-primary-200: hsl(349 48% 15%);
		--color-primary-300: hsl(345 62% 19%);
		--color-primary-400: hsl(345 58% 23%);
		--color-primary-500: hsl(346 50% 29%);
		--color-primary-600: hsl(347 45% 37%);
		--color-primary-700: hsl(347 45% 48%);
		--color-primary-800: hsl(345 100% 65%);
		--color-primary-900: hsl(348 100% 78%);
		--color-primary-950: hsl(352 100% 91%);

		--color-success-50: hsl(159 46% 11%);
		--color-success-100: hsl(159 60% 12%);
		--color-success-200: hsl(159 70% 14%);
		--color-success-300: hsl(159 80% 17%);
		--color-success-400: hsl(159 90% 20%);
		--color-success-500: hsl(160 66% 38%);
		--color-success-600: hsl(157 80% 50%);
		--color-success-700: hsl(155 70% 65%);
		--color-success-800: hsl(153 65% 75%);
		--color-success-900: hsl(152 60% 85%);
		--color-success-950: hsl(151 63% 92%);

		--color-secondary: hsl(0 0% 14.9%);
		--color-secondary-foreground: hsl(0 0% 98%);

		--color-accent: hsl(0 0% 14.9%);
		--color-accent-foreground: hsl(0 0% 98%);

		--color-destructive: hsl(0 62.8% 30.6%);
		--color-destructive-foreground: hsl(0 0% 98%);

		--color-ring: hsl(0 0% 83.1%);

		/* Scrollbar colors */
		--color-scroll-thumb: hsla(0, 0%, 13%, 1);
		--color-scroll-track: transparent;
	}
}

@layer base {
	* {
		@apply border-border antialiased;
		scrollbar-width: thin;
	}
	body {
		@apply bg-background text-foreground;
	}

	/* Scrollbar colors */
	scrollbar-color: var(--color-scroll-thumb) var(--color-scroll-track);

	::-webkit-scrollbar {
		border-radius: 1rem;
		background: var(--color-scroll-track);
	}

	::-webkit-scrollbar-thumb {
		border-radius: 1rem;
		background: var(--color-scroll-thumb);
	}

	::-webkit-scrollbar-track {
		border-radius: 1rem;
		background: var(--color-scroll-track);
	}
}

@layer utilities {
	@font-face {
		font-family: 'Geist';
		src: url('/fonts/Geist-v1.4.01/webfonts/Geist[wght].woff2') format('woff2-variations');
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Geist Mono (Numbers-only)';
		src: url('/fonts/GeistMono-1.4.01/webfonts/GeistMono[wght].woff2') format('woff2-variations');
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
		unicode-range: U+0030-0039; /* Digits 0-9 */
	}

	@font-face {
		font-family: 'Geist Mono';
		src: url('/fonts/GeistMono-1.4.01/webfonts/GeistMono[wght].woff2') format('woff2-variations');
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter';
		src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter';
		src: url('/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
		font-weight: 100 900;
		font-style: italic;
		font-display: swap;
	}
}
