@import 'tailwindcss';

@config "../tailwind.config.js";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@utility content-auto {
	content-visibility: auto;
}

@utility grid-stack {
	& > * {
		grid-area: 1 / 1;
	}
}

@utility scrollbar-none {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;

		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;

		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;

		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;

		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;

		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 0 0% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: var(--neutral-50);
		--foreground: 0 0% 100%;

		--muted: 0 0% 14.9%;
		--muted-foreground: var(--neutral-800);
		--muted-icon-neutral: var(--neutral-700);
		--muted-icon-primary: var(--primary-700);

		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: var(--neutral-300);
		--input: 0 0% 14.9%;

		--neutral-50: 0 0% 5%;
		--neutral-100: 0 0% 8%;
		--neutral-200: 0 0% 10%;
		--neutral-300: 0 0% 13%;
		--neutral-400: 0 0% 16%;
		--neutral-500: 0 0% 24%;
		--neutral-600: 0 0% 32%;
		--neutral-700: 0 0% 40%;
		--neutral-800: 0 0% 64%;
		--neutral-900: 0 0% 80%;
		--neutral-950: 0 0% 98%;

		--primary-50: 351 24% 6%;
		--primary-100: 354 20% 10%;
		--primary-200: 349 48% 15%;
		--primary-300: 345 62% 19%;
		--primary-400: 345 58% 23%;
		--primary-500: 346 50% 29%;
		--primary-600: 347 45% 37%;
		--primary-700: 347 45% 48%;
		--primary-800: 345 100% 65%;
		--primary-900: 348 100% 78%;
		--primary-950: 352 100% 91%;

		--warning-50: 41 66% 10%;
		--warning-100: 40 29% 8%;
		--warning-200: 41 66% 10%;
		--warning-300: 41 100% 12%;
		--warning-400: 42 100% 14%;
		--warning-500: 43 81% 19%;
		--warning-600: 42 58% 26%;
		--warning-700: 42 56% 34%;
		--warning-800: 44 100% 55%;
		--warning-900: 45 100% 60%;
		--warning-950: 40 100% 86%;

		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 0 0% 83.1%;

		/* Base colors for reuse */
		--color-failed: 10 24% 20%;
		--color-failed-border: 10 30% 34%;
		--color-failed-active: 10 46% 56%;

		--color-running: 250 30% 24%;
		--color-running-border: 250 30% 40%;
		--color-running-active: 250 48% 62%;

		/* Job status colors using base variables */
		--job-RUNNING-bg: var(--color-running);
		--job-RUNNING-border: var(--color-running-border);
		--job-RUNNING-active-border: var(--color-running-active);

		--job-WAITING_FOR_UPSTREAM-bg: 210 30% 20%;
		--job-WAITING_FOR_UPSTREAM-border: 210 30% 34%;
		--job-WAITING_FOR_UPSTREAM-active-border: 210 46% 56%;

		--job-FAILED-bg: var(--color-failed);
		--job-FAILED-border: var(--color-failed-border);
		--job-FAILED-active-border: var(--color-failed-active);

		--job-SUCCESS-bg: 160 40% 17%;
		--job-SUCCESS-border: 160 40% 28%;
		--job-SUCCESS-active-border: 160 32% 47%;

		--job-UPSTREAM_FAILED-bg: var(--color-failed);
		--job-UPSTREAM_FAILED-border: var(--color-failed-border);
		--job-UPSTREAM_FAILED-active-border: var(--color-failed-active);

		--job-QUEUED-bg: 0 0% 16%;
		--job-QUEUED-border: 0 0% 24%;
		--job-QUEUED-active-border: 0 0% 40%;

		--job-UPSTREAM_MISSING-bg: 38 30% 20%;
		--job-UPSTREAM_MISSING-border: 38 30% 34%;
		--job-UPSTREAM_MISSING-active-border: 38 46% 56%;

		--job-WAITING_FOR_RESOURCES-bg: var(--color-running);
		--job-WAITING_FOR_RESOURCES-border: var(--color-running-border);
		--job-WAITING_FOR_RESOURCES-active-border: var(--color-running-active);

		/* Scrollbar colors */
		--scrollcolor: hsla(0, 0%, 13%, 1);
		--scrollbackground: transparent;
		scrollbar-color: var(--scrollcolor) var(--scrollbackground);
	}
}

@layer base {
	* {
		@apply border-border antialiased;
		scrollbar-width: thin;
	}
	body {
		@apply bg-background text-foreground;
	}

	::-webkit-scrollbar {
		border-radius: 1rem;
		background: var(--scrollbackground);
	}

	::-webkit-scrollbar-thumb {
		border-radius: 1rem;
		background: var(--scrollcolor);
	}

	::-webkit-scrollbar-track {
		border-radius: 1rem;
		background: var(--scrollbackground);
	}
}

@layer utilities {
	@font-face {
		font-family: 'Geist';
		src: url('/fonts/Geist-v1.4.01/webfonts/Geist[wght].woff2') format('woff2-variations');
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Geist Mono';
		src: url('/fonts/GeistMono-1.4.01/webfonts/GeistMono[wght].woff2') format('woff2-variations');
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
		unicode-range: U+0030-0039; /* Digits 0-9 */
	}

	@font-face {
		font-family: 'Inter';
		src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter';
		src: url('/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
		font-weight: 100 900;
		font-style: italic;
		font-display: swap;
	}
}
