name: Test Bazel Config



on:
  push:
    branches:
      - main
    paths:
      - 'tools/**'
      - '.github/workflows/test_bazel_config.yaml'
      - '.bazelrc'
      - '.bazeliskrc'
      - 'WORKSPACE'
  pull_request:
    branches:
      - main
    paths:
      - 'tools/**'
      - '.github/workflows/test_bazel_config.yaml'
      - '.bazelrc'
      - '.bazeliskrc'
      - 'WORKSPACE'


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  bazel_config_tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Bazel cache credentials
        run: |
          echo "${{ secrets.BAZEL_CACHE_CREDENTIALS }}" | base64 -d > bazel-cache-key.json

      - name: Run bazel sync
        run: |
          bazel build \
            --remote_cache=https://storage.googleapis.com/zipline-bazel-cache \
            --google_credentials=bazel-cache-key.json \
            --nobuild \
            //...
