name: Test non-spark modules on scala 2.12

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'python/**'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'python/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  flink_tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v4

      - name: Install curl
        run: |
          apt-get update && apt-get install -y curl

      - name: Run Flink tests
        run: |
          ./mill flink.test

  aggregator_tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v4

      - name: Install curl
        run: |
          apt-get update && apt-get install -y curl

      - name: Run Aggregator tests
        run: |
          ./mill aggregator.test

  online_tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v4

      - name: Install curl
        run: |
          apt-get update && apt-get install -y curl

      - name: Run Online tests
        run: |
          ./mill online.test

  api_tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v4

      - name: Install curl
        run: |
          apt-get update && apt-get install -y curl

      - name: Run api tests
        run: |
          ./mill api.test

  service_tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v4

      - name: Install curl
        run: |
          apt-get update && apt-get install -y curl

      - name: Run service tests
        run: |
          ./mill service.test

  service_commons_tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v4

      - name: Install curl
        run: |
          apt-get update && apt-get install -y curl

      - name: Run service_commons tests
        run: |
          ./mill service_commons.test

  cloud_gcp_tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v4

      - name: Install curl
        run: |
          apt-get update && apt-get install -y curl

      - name: Run cloud gcp tests
        run: |
          ./mill cloud_gcp.test

  cloud_aws_tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v4

      - name: Install curl
        run: |
          apt-get update && apt-get install -y curl

      - name: Run cloud aws tests
        run: |
          ./mill cloud_aws.test
