name: Test Python

on:
  push:
    branches:
      - main
    paths:
      - 'api/python/**'
      - '.github/workflows/test_python.yaml'
  pull_request:
    branches:
      - main
    paths:
      - 'api/python/**'
      - '.github/workflows/test_python.yaml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  python_tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}

    steps:
      - uses: actions/checkout@v4

      - name: Configure Git
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Set up Python virtual environment
        shell: bash
        run: |
          python3 -m venv chronon_py_env
          source chronon_py_env/bin/activate

      - name: Run Chronon Python lint (ruff)
        shell: bash
        run: |
          source chronon_py_env/bin/activate
          cd api/python
          pip install ruff
          ruff check .

      - name: Run Chronon Python tests
        shell: bash
        run: |
          source chronon_py_env/bin/activate
          thrift --gen py -out api/python/ api/thrift/common.thrift
          thrift --gen py -out api/python/ api/thrift/observability.thrift
          thrift --gen py -out api/python/ api/thrift/api.thrift
          thrift --gen py -out api/python/ api/thrift/lineage.thrift
          thrift --gen py -out api/python/ api/thrift/orchestration.thrift
          cd api/python
          pip3 install -r requirements/dev.txt
          pip3 install tox
          tox

      - uses: actions/upload-artifact@v4
        with:
          name: htmlcov
          path: api/python/htmlcov